@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-color {
    background: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

/* common style */
.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
}

/* common color */
.white {
    color: rgb(255, 255, 255);
}

.red {
    background: rgb(230, 83, 60);
}

/* header style */
.header-section {
    background: linear-gradient(180deg, rgba(119, 119, 119, 0 .3477766106442577) 4%, rgba(17, 17, 17, 0) 100%);
}

.header-container {
    max-width: 1060px;
    margin: 0 auto 200px;
    height: 100%;
}

/* nav bar */
.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding-top: 57px;
    position: relative;
}

.nav-links {
    list-style: none;
    padding: 12px 4px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}

.nav-item {
    margin-right: 42px;
}

.brand {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.menu {
    visibility: hidden;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 0 0 0 390px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
}

.nav-button {
    padding: 8px 20px;
    border-radius: 50px;
}

.banner {
    margin-top: 97px;
}

.left-side {
    width: 50%;
}

.banner-title {
    color: rgb(255, 255, 255);
    margin-bottom: 28px;
    font-size: 4rem;
    font-weight: 800;
}

.shape {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
}

.banner-description {
    margin-bottom: 28px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-section {
    gap: 14px;
}

.no-border-color {
    background: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
}

.right-side {
    width: 50%;
    height: 100%;
    position: relative;
    margin-right: 50px;
}

.banner-image {
    position: absolute;
    margin: -86px 147px 0px 152px;
}

.banner-card1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    text-align: start;
    align-items: center;
    padding: 17px 24px;
    margin: 51px 0px 32px 400px;
    position: absolute;
    z-index: 2;
}

.banner-card1-title {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.banner-card1-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.875rem;
    font-weight: 400;
}

.banner-card2 {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    margin: 362px 0px 117px 56px;
    z-index: 2;
}

.banner-dots {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
}

.banner-card1-title {
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
}

/* Change Your Habits section */
.change-habits{
    width: 100%;
    height: 700px;
    padding: 20px 0 50px;
  }
  .change-habits-container{
  width: 1060px;
    height: 600px;
    margin: 0 auto;
  }
  .habits-top{
    width: 670px;
    margin: 0 auto;
   
  }
  .habites-title{
    color: rgb(255, 255, 255);
font-size: 48px;
font-weight: 900;
text-align: center;
margin-bottom: 15px;
  }
  .habites-description{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
text-align: center;
  }
.habits-card{
    margin-top: 56px;
    justify-content: space-between;
}
.habits-image-card{
    width: 230px;
}
.habits-img > img{
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-bottom: 30px;
}
.habits-card-main{
    text-align: center;
}
.habits-card-title{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;

}
.habits-card-description{
    color: rgba(255, 255, 255, 0.50);
font-weight: 400;
}
/* media quary */

@media (max-width: 576px) {
    .header-section {
        max-width: 100%;
        padding: 20px;
    }
    .header-container{
        height: 950px;
    }
    .menu {
        visibility: visible;
    }
    .nav-links {
        visibility: hidden;
    }
    .nav-bar {
        justify-content: space-between;
    }
    .nav-links,   {
        flex-direction: column;
    }
    .banner {
        flex-direction: column;
    }
    .banner-image {
        position:absolute;
        margin: 10px 0px 0px 70px;
    }
    .right-side, .left-side{
      width: 100%;
    }
    .banner-card2{
      margin: 322px 0px 0px 11px;
    }
    .banner-card1{
      margin: 218px 0px 0px 200px;
    }
    .banner-title{
      font-size: 2.25rem;
    }
    .banner-description{
      width: 70%;
    }
    .btn-primary{
      padding: 10px 20px;        
    }
}